*{
    margin: 0;
    
}
#main{
    border: 2px solid blue;
    height: 100vh;
    width: 100%;
}
#canvas{
    height: 500px;
    width: 480px;
    border: 2px solid red;
    margin: auto;
    margin-top: 60px;
}
#form-body{
    border: 1px solid grey;
    height: 400px;
    width: 300px;
    margin: auto;
    margin-top: 40px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 12px grey;
}