<!DOCTYPE html>
<html lang="en">
<head>
    <link rel = 'stylesheet' href = '/static/style.css'>
    <title>Login Page</title>
</head>
<body>
    <div id="main">
        <div id="canvas">
            <div id="form-body">
                <h3>Login Page</h3><br>
                <form action = ''>
                    <label for = 'username'>UserName:</label><br>
                    <input type = 'text' id = 'username' ><br><br>
                    <label for = 'password'>Password:</label><br>
                    <input type = 'password' id = 'password' ><br><br>
                    <input type = 'submit' value = 'Login'><br>
                    Are you a new user? <a href = '/register.html'>Register</a>

                </form>
            </div>
        </div>
    </div>
</body>
</html>