*{
    margin: 0;
    
}
#main{
    border: 3px solid blue;
    min-height: 100vh;
    width: 100%;
}
#canvas{
    height: auto;
    width: 100%;
    border: none;
    margin-top: 50px;
    
}
#form-body{
    border: 1px solid grey;
    height: auto;
    width: 500px;
    margin:0 auto;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 2px 2px 12px grey;
}
.form-level{
    color: rgb(0, 208, 255);
    /* margin-top: 0px;
    padding: 10px; */
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

