*{
    margin: 0;
    
}
#main{
    border: 3px solid blue;
    height: 100vh;
    width: 100%;
}
#canvas{
    height: 726px;
    width: 750px;
    border: 2px solid red;
    margin: auto;
    
}
#form-body{
    border: 1px solid grey;
    height: 500px;
    width: 600px;
    margin-left: 0px;
    margin-top: 100px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 2px 12px grey;
}
.form-group{
    color: rgb(0, 208, 255);
    margin-top: 0px;
    padding: 10px;
}

