{% extends 'base.html' %}
{% block title %}Manager Dashboard{% endblock %}
{% block content %}
<div id="content">
    <h3 class="heading">View All Products</h3>
    <div id="table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Units Available</th>
                    <th scope="col">Cost/Unit</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.category }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.cost_per_unit }}</td>
                    <td>{{ product.status }}</td>
                    <td>
                        <!-- <a href="{{ url_for('update_product', product_id=product.id) }}" class="btn btn-primary">Update</a> -->
                        <a href="{{ url_for('update_product', product_id=product.id) }}" class="btn btn-secondary">Update</a>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="text-end">
        <a href = 'create_product' class="btn btn-primary mx-2 my-4">Create Product</a>
    </div>
</div>
{% endblock%}