{% extends 'base.html' %}
{% block title %}Update Product{% endblock%}
{% block content %}
<div id="main">
    <div id="canvas">
        <div id="form-body">
            <h2>Update a Product</h2>
            <form action = ''>
                <div class="mb-3">
                    <label for = 'name' class = 'form-level'>Product Name: </label>
                    <input class="form-control" type="text" placeholder="Product Name: " aria-label="Disabled input example" disabled>
                    <!-- <input class="form-control" type="text" value="Product Name: " aria-label="Disabled input example" disabled readonly> -->
                    
                </div>
                <div class="mb-3">
                    <label for = 'category' class = 'form-level'>Product Category: </label>
                    <input type = 'text' class = 'form-control' id = 'category'>
                </div>
                <div class="mb-3">
                    <label for = 'quantity' class = 'form-level'>Initial Quantity: </label>
                    <input type = 'number' class = 'form-control' id = 'quantity'>
                </div>
                <div class="mb-3">
                    <label for = 'cu' class = 'form-level'>Cost/Unit: </label>
                    <input type = 'number' class = 'form-control' id = 'cu'>
                </div>
                <div class = 'text-center'>
                <input type = 'submit' class = 'btn btn-primary' value = 'Update'>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock%}